/*Form Titles*/
.header fieldset legend {
  color: #00C8D4;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #00c8d4;
  border-radius: 5px;
  background-color: #E6E6F1;
}
.header fieldset{
  border-top: 2px solid #0FD4D7;
  margin: 8px 0 8px 2px;
  width: 350px;
  padding: 5px;
}
.events-form__bands-genres{
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
  background: #E6E6F1;
}
.airport-select{
  background: #E6E6F1;
}
.events-form__datepicker{
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  background: #E6E6F1;
}

/*Form Buttons*/
p{
  margin-bottom: 5px;
}
.btn-super {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  background: #f2f2f2;
  padding: 10px 20px;
  border: 2px solid #0FD4D7;
  color: #0FD4D7;
  text-align: center;
}
.btn-super:hover,
.button-spotify-connect:hover{
  color: #fff;
  background: linear-gradient(135deg, #0FD4D7 0%, #14e8ab 100%);
}
.events-form__submit-container {
  margin: 15px 0;
}
.events-form__submit-container .btn-super{
  padding: 7px 104px;
  background-color: #E6E6F1;
}
.button-spotify-connect{
  font-size: 15px;
  font-weight: 600;
  background: linear-gradient(135deg, #00C8D4 0%, #00D4AB 100%);
  color: #fff;
  min-width: 300px;
  padding: 8px 0px;
}
.basic-multi-select{
  padding: 5px;
  max-width: 300px;
  margin: 10px auto;
  font-size: 15px;
  color: #000;
  border: 2px solid #00C8D4;
  border-radius: 5px;
  background-color: #fff;
}
/*should delete in react+ uncomment div - css-1g6gooi*/
.select__control{
  display: inline-flex;
}
.airport-select input{
  margin: 5px 0 10px 0;
  padding: 16px 10px;
  max-width: 320px;
  color: #00C8D4;
  border: 2px solid #00C8D4;
  border-radius: 5px;
}
.btn-buy-flights,
.btn-buy-tickets{
  border-radius: 30px;
  background: linear-gradient(135deg, #00C8D4 0%, #00D4AB 100%);
  color: #fff;
  padding: 10px;
  min-width: 320px;
}


.bp3-control-group{
  display: inline-block;
}
.bp3-input-group .bp3-input{
  margin: 5px;
  color: #00C8D4;
  border: 2px solid #00C8D4;
  border-radius: 5px;
  padding: 16px 10px;
}
.fake-link {
  color: #00C8D4;
  border-bottom: 1px dashed #00C8D4;
  cursor: pointer;
  font-size: 15px;
}
button#to-top{
  position: fixed;
  bottom: 20px;
  z-index: 2000;
  right: 10px;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(135deg, #00C8D4 0%, #00D4AB 100%);
  padding: 12px 8px;
  color: #fff;
}
/*End Of Form Buttons*/


/*Main Search*/
.results-container{
  box-shadow: 0 1px 20px 0 rgba(0,0,0,.3);
  /*width: 80%;*/
  margin: auto;
  border-top: 2px solid #0FD4D7;
  border-radius: 8px;
}
/*End of Main Search*/

/*Search Result*/
.card__inner{
  border: 2px solid #0FD4D7;
}
.card__inner,
.event-list-image,
.performer-name {
  border-radius: 5px;
}
/*.event-list-image{*/
  /*position: relative;*/
/*}*/
/*.performer-name{*/
  /*position: absolute;*/
  /*bottom: 10px;*/
  /*left:0;*/
/*}*/

.resultTitle{
  font-size: 30px;
  line-height: 25px;
  /*color: #0FD4D6;*/
  font-weight: bold;
  letter-spacing: 0.13em;
  border-bottom: 2px solid #0FD4D7;
  text-align: center;
}
#event-list,
.event-list{
  margin-top: 20px;
}
.event-list{
  display: flex;
  flex-flow: row wrap;
}
.resultsCategory{
  padding-top: 30px;
  background-color: #E6E6F1;
}
/*.sectionTitle{*/
  /*background-size:cover;*/
  /*background-image:linear-gradient(rgba(28, 41, 69, 0.4), rgba(28, 41, 69, 0.4)),  url(../../sectionTitle.jpg);*/
  /*background-position:  50% 50% ;*/
  /*width: 100%;*/
  /*height: 400px;*/
  /*background-repeat: no-repeat !important;*/
  /*margin-bottom: 40px;*/
/*}*/
.map-container,
#mapid{
  border-radius: 8px;
}
/*End of Search Result*/

/*Event Info*/
.post-module .thumbnail .date{
  padding: 9px 0;
  left: 20px;
}
.post-module .thumbnail img{
  width: 100%;
  margin-bottom: 40px;
}
.button-social{
  margin: 0px;
  padding: 5px 8px;
  border-radius: 5px;
  border: 2px solid;
}
.button-social:hover{
  text-decoration: none;
  background: none;
  border: 2px solid #0FD4D7;
  color: #0FD4D7;
}
.button-wikipedia{
  background-color: #9f9f9f;
  border: 0px solid #9f9f9f;
  color: #fff;
}
.post-module .post-content .category-button {
  background: hsl(208, 100%, 31%);
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
}
.post-module{
  display: flex;
  margin-top: 20px;
}
.post-module .thumbnail .date{
  background: linear-gradient(135deg, #0FD4D7 0%, #14e8ab 100%);
}
.post-module .thumbnail{
  position: relative;
  height: auto;
  width: 60%;
  background: none;
  padding: 10px;
  text-align: center;
}
 .thumbnail img:hover {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .3);
}
 .post-module:hover {
  box-shadow: none;
}
.hover .thumbnail img, .post-module:hover{
  transform:none;
  -webkit-transform: none;
}
.post-module .post-content{
  padding: 10px;
  border-radius: 8px;
}
.tab-content .title,
.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  font-size: 30px;
  color: #333;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.1em;
  border-bottom: 2px solid #0FD4D7;
  text-align: center;
}
#sociallinks,
#bio{
  margin: 15px 0 0 0
}
.post-meta {
  margin: 20px !important;
  color: #666;
  text-align: center;
}
.hover .thumbnail img, .post-module .thumbnail img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  opacity: .6;
}
.read-more-state {
  display: none;
}
.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}
.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}
.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}
.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 0.8em;
  background: none;
  font-weight: 600;
}
.returnBtn{
  text-align: center;
  padding: 40px;
}
.nav-tabs .nav-link.active{
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  border-bottom: 2px solid #0FD4D7 !important;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #0FD4D7 !important;
  font-weight: bold;
  opacity: 1;
}
.nav-tabs .nav-link {
  color: #333333;
  opacity: 0.7;
  font-size:20px;
}
.nav-tabs .nav-link:hover {
  border-top: none;
  border-left: none;
  border-right: none;
}
.eventPerformer,
.toggleTravelGuidebook{
  box-shadow: 0 1px 20px 0 rgba(0,0,0,.3);
  margin: auto;
  padding: 20px;
  border-top: 2px solid #0FD4D7;
  border-radius: 8px;
  background: #fff;
}
.tab-content>.active{
  display: contents;
}
.nav-tabs,
.tab-content{
  padding: 0 10px;
}
.hotelsPlate{
  border-top-left-radius:8px;
  border-top-right-radius:8px;
}

/*End of Event Info*/

@media (max-width: 1200px) {
  .header fieldset,
  .header fieldset legend {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .3);
  }
}
@media (min-width: 744px) and (max-width: 1095px) {
  .airport-select{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .events-form__datepicker{
    border-radius: 10px;
  }
}
@media (min-width: 344px) and (max-width: 743px) {
  .events-form__bands-genres,
  .airport-select,
  .events-form__datepicker{
    border-radius: 10px;
  }
}

