/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],template {
    display: none
}

* {
    box-sizing: border-box
}

body,html {
    height: 100%
}

h1,h2,h3,h4,h5,li,p,ul {
    margin: 0;
    padding: 0
}

li,ul {
    list-style: none
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
}

button {
    background: none;
    border: none
}

#root,.App {
    height: 100%
}

.btn {
    padding: 10px 20px;
    border-radius: 30px;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(77,80,97,.3)
}

.btn,.btn:active,.btn:focus {
    background: none;
    outline: none
}

.btn:active,.btn:focus,.btn:hover {
    text-decoration: none
}

.btn-primary {
    background: #0860ba;
    color: #fff;
    font-weight: 700
}

.btn-primary:active,.btn-primary:focus,.btn-primary:hover {
    color: #fff
}

.btn-primary:focus:not(.disabled) {
    background: #0860ba
}

.btn-primary:hover:not(.disabled) {
    background: #096dd2
}

.btn-primary:active:not(.disabled) {
    background: #0753a2
}

.btn-secondary {
    background: #3e92cc;
    color: #fff
}

.btn-secondary:active,.btn-secondary:focus,.btn-secondary:hover {
    color: #fff
}

.btn-secondary:focus:not(.disabled) {
    background: #3e92cc
}

.btn-secondary:hover:not(.disabled) {
    background: #529dd1
}

.btn-secondary:active:not(.disabled) {
    background: #3285be
}

.disabled {
    opacity: .3;
    cursor: default
}

.blur {
    position: relative;
    -webkit-filter: blur(3px);
    filter: blur(3px)
}

.blur:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: hsla(0,0%,100%,.7);
    -webkit-animation: blink 2s infinite;
    animation: blink 2s infinite
}

.bp3-transition-container {
    z-index: 1000
}

.bp3-popover-wrapper {
    display: block
}

.map-container {
    background: #aaa;
    font-weight: 700
}

#mapid {
    height: 70vh
}

@-webkit-keyframes blink {
    50% {
        opacity: .5
    }
}

@keyframes blink {
    50% {
        opacity: .5
    }
}

input[type=number],input[type=text],textarea {
    outline: none;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),inset 0 0 0 1px rgba(16,22,26,.15),inset 0 1px 1px rgba(16,22,26,.2);
    background: #fff;
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;
    line-height: 30px;
    color: #182026;
    font-size: 14px;
    -webkit-transition: box-shadow .1s cubic-bezier(.4,1,.75,.9);
    transition: box-shadow .1s cubic-bezier(.4,1,.75,.9);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input[type=number]:focus,input[type=text]:focus,textarea:focus {
    box-shadow: 0 0 0 1px #137cbd,0 0 0 3px rgba(19,124,189,.3),inset 0 1px 1px rgba(16,22,26,.2);
    border-radius: 3px
}

textarea {
    height: auto
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: -1px
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px
}

.header fieldset {
    padding: 10px;
    outline: none;
    text-align: center;
    margin-bottom: 5px;
    border: none;
    border-top: 1px solid #0860ba;
    width: 350px
}

.header fieldset legend {
    padding: 5px;
    background: #f2f2f2;
    color: #0860ba
}

.events-form label {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.events-form .events-form__bands-list {
    flex-grow: 1
}

.events-form .events-form__bands-label {
    margin-right: 10px
}

.events-form .events-form__text-line {
    margin: 10px 0;
    color: #4d5061
}

.bp3-control-group {
    justify-content: center
}

@media (max-width: 400px) {
    .bp3-control-group {
        flex-wrap:wrap
    }
}

.airport-select {
    position: relative;
    text-align: center
}

.airport-select input {
    width: 100%
}

.airport-select__title {
    margin-bottom: 10px
}

.airport-select__list {
    position: absolute;
    z-index: 1000;
    max-height: 300px;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(85,85,85,.3);
    overflow: auto;
    width: 100%;
    margin-top: 5px
}

.airport-select__item {
    padding: 10px;
    cursor: pointer
}

.airport-select__item--selected {
    background: #eee
}

.events-form__submit-container {
    text-align: center;
    margin-top: 20px
}

@media (max-width: 600px) {
    .bp3-popover {
        width:100%
    }

    .bp3-popover-arrow {
        display: none
    }

    .bp3-daterangepicker {
        flex-wrap: wrap;
        flex-direction: column
    }

    .bp3-daterangepicker.bp3-daterangepicker-contiguous .DayPicker {
        min-width: auto;
        width: 100%
    }

    .bp3-daterangepicker-shortcuts {
        text-align: center
    }

    .bp3-transition-container {
        top: 50%!important;
        left: 50%!important;
        -webkit-transform: translate(-50%,-50%)!important;
        transform: translate(-50%,-50%)!important;
        position: fixed!important;
        width: 90%!important
    }

    .DayPicker-Months {
        display: flex;
        flex-direction: column;
        align-items: center
    }
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px
}

.spinner>div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s ease-in-out infinite;
    animation: sk-stretchdelay 1.2s ease-in-out infinite
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

.spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.spinner .rect4 {
    -webkit-animation-delay: -.9s;
    animation-delay: -.9s
}

.spinner .rect5 {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

@-webkit-keyframes sk-stretchdelay {
    0%,40%,to {
        -webkit-transform: scaleY(.4)
    }

    20% {
        -webkit-transform: scaleY(1)
    }
}

@keyframes sk-stretchdelay {
    0%,40%,to {
        transform: scaleY(.4);
        -webkit-transform: scaleY(.4)
    }

    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1)
    }
}

.shared-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%
}

.shared-page__text-empty {
    margin-bottom: 10px
}

.wrap-table100 {
    width: 1170px
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #fff;
    overflow: hidden;
    width: 100%;
    margin: 0 auto
}

table,table * {
    position: relative
}

table td,table th {
    padding-left: 8px
}

table thead tr {
    height: 30px;
    background: #333a45
}

table tbody tr {
    height: 50px
}

table tbody tr:last-child {
    border: 0
}

table td,table th {
    text-align: left
}

table td.l,table th.l {
    text-align: right
}

table td.c,table td.r,table th.c,table th.r {
    text-align: center
}

.table100-head th {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset
}

tbody tr:nth-child(2n) {
    background-color: #f5f5f5
}

tbody tr {
    font-size: 15px;
    color: grey;
    line-height: 1.2;
    font-weight: unset
}

tbody tr:hover {
    color: #555;
    background-color: #f5f5f5;
    cursor: pointer
}

.column1 {
    width: 260px;
    padding-left: 40px
}

.column2 {
    width: 180px
}

.column3 {
    width: 245px
}

.column4 {
    width: 210px;
    text-align: right
}

.column5 {
    width: 170px;
    text-align: right
}

.column6 {
    width: 222px;
    text-align: right;
    padding-right: 42px
}

@media screen and (max-width: 614px) {
    table,table>*,table td,table th,table tr {
        display:block
    }

    table thead {
        display: none
    }

    table tbody tr {
        height: auto;
        padding: 37px 0
    }

    table tbody tr td {
        padding-left: 40%!important;
        margin-bottom: 24px
    }

    table tbody tr td:last-child {
        margin-bottom: 0
    }

    table tbody tr td:before {
        font-size: 14px;
        color: #999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0
    }

    table tbody tr td:first-child:before {
        content: "Location"
    }

    table tbody tr td:nth-child(2):before {
        content: "Date"
    }

    table tbody tr td:nth-child(3):before {
        content: "Tickets"
    }

    table tbody tr td:nth-child(4):before {
        content: "Flights"
    }

    table tbody tr td:nth-child(5):before {
        content: "Info"
    }

    .column4,.column5,.column6 {
        text-align: left
    }

    .column1,.column2,.column3,.column4,.column5,.column6 {
        width: 100%
    }

    tbody tr {
        font-size: 14px
    }
}

@media screen and (min-width: 1024px) and (max-width:1439px) {
    table,table>*,table td,table th,table tr {
        display:block
    }

    table thead {
        display: none
    }

    table tbody tr {
        height: auto;
        padding: 37px 0
    }

    table tbody tr td {
        padding-left: 40%!important;
        margin-bottom: 24px
    }

    table tbody tr td:last-child {
        margin-bottom: 0
    }

    table tbody tr td:before {
        font-size: 14px;
        color: #999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0
    }

    table tbody tr td:first-child:before {
        content: "Location"
    }

    table tbody tr td:nth-child(2):before {
        content: "Date"
    }

    table tbody tr td:nth-child(3):before {
        content: "Tickets"
    }

    table tbody tr td:nth-child(4):before {
        content: "Flights"
    }

    table tbody tr td:nth-child(5):before {
        content: "Info"
    }

    .column4,.column5,.column6 {
        text-align: left
    }

    .column1,.column2,.column3,.column4,.column5,.column6 {
        width: 100%
    }

    tbody tr {
        font-size: 14px
    }
}

@media (max-width: 576px) {
    .container-table100 {
        padding-left:15px;
        padding-right: 15px
    }
}

body {
    min-width: 320px
}

.results-container {
    display: flex;
    align-items: stretch
}

.map-container {
    width: 50%
}

.map-container.no-events {
    width: 100%!important
}

#event-list {
    display: flex;
    flex-flow: row wrap
}

.performer-events-info {
    display: none
}

#event-list li {
    margin: 4px;
    background-color: #fff
}

.flex-container {
    display: flex
}

.event-block {
    padding: 4px;
    flex: 1 1
}

.event-list-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: top
}

.event-list-more-info {
    flex: 2 1
}

section.events-form {
    display: flex;
    justify-content: center
}

.genre-buttons-list {
    height: 100px;
    overflow-y: auto;
    width: 200px
}

.performer-info {
    text-align: center
}

.event-list-more-info .btn {
    width: 100%;
    margin: 5px 0
}

.e-list-performer li {
    margin: 0
}

.performer-name {
    font-weight: 600;
    font-size: 16px;
    display: block;
    width: 100%;
    background-color: hsla(0,0%,100%,.4)
}

.btn-primary.disabled:active,.btn-primary.disabled:focus {
    background: #0860ba;
    color: #fff;
    font-weight: 700;
    opacity: .3;
    cursor: default
}

.button-spotify-connect.connected {
    background-color: green
}

.select__input input,.select__input input:focus {
    box-shadow: none;
    border-radius: 0
}

.map-container {
    display: none;
    min-height: 0
}

@media (min-width: 1024px) {
    .map-container {
        width:40%;
        display: block
    }
}

#mapid {
    height: 100vh
}

.performer-list-block {
    cursor: pointer
}

@media (max-width: 768px) {
    .performer-list-block {
        width:100%
    }
}

@media (min-width: 1024px) {
    .performer-list-block {
        width:calc(33.33333% - 30px)
    }
}

.events-form {
    flex-flow: row wrap
}

.marker-list-element {
    width: 200px
}

.marker-list-element img {
    max-width: 100%
}

.marker-list-element h4 {
    text-align: center
}

.btn-marker {
    width: 200px;
    color: #fff
}

@media (max-width: 768px) {
    .btn-marker {
        width:auto;
        text-align: center;
        font-size: 12px
    }
}

.lds-dual-ring {
    display: inline-flex;
    width: 20px;
    height: 20px;
    margin-left: 20px
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    margin: 1px;
    border-radius: 50%;
    border-color: #fff transparent;
    border-style: solid;
    border-width: 1px;
    -webkit-animation: lds-dual-ring 1.2s linear infinite;
    animation: lds-dual-ring 1.2s linear infinite
}

@-webkit-keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.btn-buy-flights {
    background-color: #009983
}

.btn-buy-flights:hover {
    background-color: #00ccaf!important
}

.navbar-stt .container-fluid {
    padding-left: 10px
}

.btn-buy-hotels {
    background-color: #2d87fc
}

.btn-buy-hotels:hover {
    background-color: #5fa4fd!important
}

.btn-buy-tickets {
    background-color: #002a54
}

.btn-buy-tickets:hover {
    background-color: #004487!important
}

.btn-sm {
    width: 80px;
    text-align: center
}

.hotelsPlate {
    background-color: #00549e;
    color: #fff;
    padding: 10px;
    font-size: 20px
}

.airport-select input {
    width: 90%
}

.events-form__submit-container {
    width: 100%
}

.fake-link {
    color: #3e92cc;
    border-bottom: 1px dashed #3e92cc;
    cursor: pointer
}

.fake-link:hover {
    border-bottom: 0
}

.fake-link i {
    font-size: 10px
}

.bgMarkerImage {
    height: 112px
}

.btn-super {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300
}

@media only screen and (max-width: 1100px) {
    .header fieldset {
        width:auto
    }
}

@media only screen and (max-width: 900px) {
    .header fieldset {
        width:100%
    }
}

.list-container {
    width: 100%
}

@media (min-width: 1024px) {
    .list-container {
        width:60%
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .list-container {
        width:100%
    }
}

button#to-top {
    position: fixed;
    bottom: 20px;
    z-index: 2000;
    right: 10px
}

.cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap
}

.card {
    margin: 15px;
    width: calc(33.33333% - 30px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

@media screen and (max-width: 991px) {
    .card {
        width:calc(50% - 30px)
    }
}

@media screen and (max-width: 767px) {
    .card {
        width:100%
    }
}

.card:hover .card__inner {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.card__inner {
    width: 100%;
    padding: 30px;
    position: relative;
    cursor: pointer;
    background-color: #949fb0;
    color: #eceef1;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.card__inner:after {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.card__inner .fa {
    width: 100%;
    margin-top: .25em
}

.card__expander {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: #fff;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: left;
    border: 1px solid #333a45
}

.card__expander .fa {
    font-size: .75em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer
}

.card__expander .fa:hover {
    opacity: .9
}

.card.is-collapsed .card__inner:after {
    content: "";
    opacity: 0
}

.card.is-collapsed .card__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0
}

.card.is-expanded .card__inner {
    background-color: #1abc9c
}

.card.is-expanded .card__inner:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #333a45
}

.card.is-expanded .card__inner .fa:before {
    content: "\F115"
}

.card.is-expanded .card__expander {
    max-height: 1000px;
    min-height: 50px;
    overflow: visible;
    margin-top: 30px;
    opacity: 1
}

.card.is-expanded:hover .card__inner {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.card.is-inactive .card__inner {
    pointer-events: none;
    opacity: .5
}

.card.is-inactive:hover .card__inner {
    background-color: #949fb0;
    -webkit-transform: scale(1);
    transform: scale(1)
}

@media screen and (min-width: 992px) {
    .card:nth-of-type(3n+2) .card__expander {
        margin-left:calc(-100% - 30px)
    }

    .card:nth-of-type(3n+3) .card__expander {
        margin-left: calc(-200% - 60px)
    }

    .card:nth-of-type(3n+4) {
        clear: left
    }

    .card__expander {
        width: calc(300% + 60px)
    }
}

@media screen and (min-width: 768px) and (max-width:991px) {
    .card:nth-of-type(2n+2) .card__expander {
        margin-left:calc(-100% - 30px)
    }

    .card:nth-of-type(2n+3) {
        clear: left
    }

    .card__expander {
        width: calc(200% + 30px)
    }
}

.card.is-expanded .card__expander {
    flex-flow: row wrap;
    display: table
}

.card.is-expanded .card__inner1 {
    position: relative
}

.card.is-expanded .card__inner1:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #333a45;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.card__inner {
    padding: 0;
    color: #000;
    color: initial;
    font-size: medium
}

body {
    background: #f2f2f2;
    font-family: proxima-nova-soft,sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.post-module {
    position: relative;
    z-index: 1;
    display: block;
    background: #fff;
    min-width: 270px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s
}

.hover,.post-module:hover {
    box-shadow: 0 1px 35px 0 rgba(0,0,0,.3)
}

.hover .thumbnail img,.post-module:hover .thumbnail img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .6
}

.post-module .thumbnail {
    background: #000;
    overflow: hidden
}

.post-module .thumbnail-band {
    height: 300px
}

.post-module .thumbnail .date {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: #e74c3c;
    width: 55px;
    height: 55px;
    padding: 12.5px 0;
    border-radius: 100%;
    color: #fff;
    font-weight: 700;
    text-align: center;
    -webkti-box-sizing: border-box;
    box-sizing: border-box
}

.post-module .thumbnail .date .day {
    font-size: 18px
}

.post-module .thumbnail .date .month {
    font-size: 12px;
    text-transform: uppercase
}

.post-module .thumbnail img {
    display: block;
    width: 120%;
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s
}

.post-module .post-content {
    bottom: 0;
    background: #fff;
    width: 100%;
    padding: 30px;
    -webkti-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s cubic-bezier(.37,.75,.61,1.05) 0s;
    transition: all .3s cubic-bezier(.37,.75,.61,1.05) 0s
}

.post-module .post-content .category {
    position: absolute;
    top: -34px;
    left: 0;
    background: #e74c3c;
    padding: 10px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase
}

.post-module .post-content .category-button {
    background: #e74c3c;
    padding: 4px 6px;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    margin: 2px;
    display: inline-block
}

.post-module .post-content .title {
    margin: 0;
    padding: 0 0 10px;
    color: #333;
    font-size: 26px;
    font-weight: 700
}

.post-module .post-content .sub_title {
    margin: 0;
    padding: 0 0 20px;
    color: #e74c3c;
    font-size: 20px;
    font-weight: 400
}

.post-module .post-content .description {
    color: #666;
    font-size: 14px;
    line-height: 1.8em
}

.post-module .post-content .post-meta {
    margin: 30px 0 0;
    color: #999
}

.post-module .post-content .post-meta .timestamp {
    margin: 0 16px 0 0
}

.post-module .post-content .post-meta a {
    color: #999;
    text-decoration: none
}

.hover .post-content .description {
    display: block!important;
    height: auto!important;
    opacity: 1!important
}

.container {
    max-width: 800px;
    min-width: 640px;
    margin: 0 auto;
    padding: 10px
}

.container:after,.container:before {
    content: "";
    display: block;
    clear: both
}

.container .column {
    padding: 0 25px;
    -webkti-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 0
}

.container .column .demo-title {
    margin: 0 0 15px;
    color: #666;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase
}

.container .info {
    width: 300px;
    margin: 50px auto;
    text-align: center
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    color: #333
}

.container .info span {
    color: #666;
    font-size: 12px
}

.container .info span a {
    color: #000;
    text-decoration: none
}

.container .info span .fa {
    color: #e74c3c
}

.button-social {
    background: grey;
    padding: 8px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin: 2px;
    display: inline-block
}

.button-spotify {
    background-color: #10bc4c
}

.button-facebook {
    background-color: #45619d
}

.button-soundcloud {
    background-color: #ff5200
}

.button-bandcamp {
    background-color: #61929c
}

.button-wikipedia {
    color: grey;
    background-color: #f3eded
}

.button-youtube {
    background-color: red
}

.button-instagram {
    background-color: #ffe600
}

/*# sourceMappingURL=main.c732c1d0.chunk.css.map */
